<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様</h1>
    <p>
      パスワード変更を承りました
    </p>
    <p>以下のリンクよりパスワードの変更をしてください</p>
    <p><a href="<%= @url %>">パスワードをリセットする</a></p>
    <p>リンクの有効期限は1時間です</p>
  </body>
</html>
