<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1><%= @user.name %>様</h1>
  <p>
    ご登録ありがとうございます。
  </p>
  <p>以下のリンクをクリックで登録を完了となります。</p>
  <p>ログイン画面に遷移します。</p>
  <p><a href="<%= @url %>">登録を完了する</a></p>
  <p>リンクの有効期限は1時間です。</p>
</body>
</html>
